h2
{
font-size:200%;
color:white;
margin-left:20px;
font-family:arial;
}

p
{
font-size:100%;
margin-left:20px;
color:white;
font-family:arial;
}

a:link 
{
margin-left:20px;
font-size:50%;
text-decoration:none; 
color:#A66382;
}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body
{
background-color:#3B0808;
}
