h2
{
width:100%;
margin-left:10%;
color:white;
font-family:Helvetica;
}

p
{
width:100%;
margin-left:10%;
color:white;
font-family:Georgia;
}

b
{
color:#F60018;
}

a:link 
{
width:100%;
margin-left:10%;
font-size:70%;
text-decoration:none; 
color:#1F000A;
}
a:visited 
{
text-decoration:none;
color:#1F000A;
}

a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body
{
background-color:#610B0B;
line-height:100%;
padding:0;
}
